Source: avr-gcc
Section: compilers
XBSC-Family: avr
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://arduino.cc

Package: avr-gcc
Section: compilers
Architecture: any
XBSC-Group: AVR
Depends: 
Description: GCC 4.9.2 for AVR
 Version 4.9.2 of the GCC toolchain is now the default for Arduino based systems.



